<nav class="navbar navbar-dark bg-brand-primary navbar-expand">
  <a class="navbar-brand" routerLink="/">Kurika</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink="/timers" [routerLinkActive]="'active'"
        [routerLinkActiveOptions]="{exact:true}">
        View Timers
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/timers/new" [routerLinkActive]="'active'">
        New Timer
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/settings" [routerLinkActive]="'active'">
        Settings
      </a>
    </li>
  </ul>
</nav>