<div
  *ngFor="let timer of timers"
  class="d-flex flex-row align-items-start list-group-item list-group-item-action">
  <a class="flex-grow-1"
    *ngIf="(timer.isCompleted && !hideCompleted) || (!timer.isCompleted)"
    (click)="toggleCompleted(timer.id)">
    <h5 class="mb-1">
      <span *ngIf="timer.isCompleted">✔</span>
      <span *ngIf="!timer.isCompleted && timer.required">⭐</span>
      {{ timer.title }}
    </h5>
    <small class="text-muted mb-1">
      <span *ngIf="timer.isCompleted">
        Resets in {{ timer.countdown }}
      </span>
      <span *ngIf="!timer.isCompleted && timer.completed.length > 0">
        Last completed {{ timer.completed[timer.completed.length-1].toDateString() }}
      </span>
      <span *ngIf="!timer.isCompleted && timer.completed.length === 0">
        <span *ngIf="timer.period === 'nr'">Does not repeat</span>
        <span *ngIf="timer.period !== 'nr'">{{ timer.period }}</span>
      </span>
    </small>
    <p *ngIf="timer.description">{{ timer.description }}</p>
    <div *ngIf="!timer.description"><br/></div>
  </a>
  <button type="button" 
    class="btn btn-outline-danger" 
    (click)="deleteTimer(timer.id)">
    Delete
  </button>
</div>