<div class="d-flex flex-row align-items-start">
  <a class="flex-grow-1"
    (click)="toggleCompleted(timer.id)">
    <h5 class="mb-1">
      <span *ngIf="timer.isCompleted">✔</span>
      <span *ngIf="!timer.isCompleted && timer.required">⭐</span>
      {{ timer.title }}
    </h5>
    <p *ngIf="timer.description">{{ timer.description }}</p>
    <div *ngIf="!timer.description"><br/></div>
  </a>
  <button type="button" 
    class="btn btn-outline-danger" 
    (click)="deleteTimer(timer.id)">
    Delete
  </button>
</div>
<small class="text-muted">
  <span *ngIf="timer.isCompleted && !timer.countdown">
    Calculating...
  </span>
  <span *ngIf="timer.isCompleted && timer.countdown !== 'none'">
    {{ timer.countdown }}
  </span>
  <span *ngIf="timer.isCompleted && timer.countdown === 'none'">
    Does not reset
  </span>
  <span *ngIf="!timer.isCompleted && timer.completed.length > 0">
    Last completed {{ timer.completed[timer.completed.length-1].toDateString() }}
  </span>
  <span *ngIf="!timer.isCompleted && timer.completed.length === 0">
    <span *ngIf="timer.period !== 'nr'">{{ timer.period }}</span>
  </span>
</small>