<form [formGroup]="timerForm" (ngSubmit)="add()" class="form-group" style="max-width: 500px">
  <div class="input-group mb-3">
    <label for="timer-title" class="input-group-text input-group-prepend">
      Title
    </label>
    <input type="text" id="timer-title" formControlName="title" class="form-control">
  </div>

  <div class="input-group mb-3">
    <label for="timer-category" class="input-group-text input-group-prepend">
      Category
    </label>
    <input type="text" id="timer-category" formControlName="category" class="form-control">
    <div class="input-group-append">
      <button type="button" class="btn btn-outline-secondary" disabled>+</button>
    </div>
  </div>

  <div class="input-group mb-3">
    <label for="timer-description" class="input-group-text input-group-prepend">
      Description
    </label>
    <textarea id="timer-description" formControlName="description" class="form-control"></textarea>
  </div>

  <div class="form-check mb-3">
    <input type="checkbox" 
      id="timer-completed" 
      class="form-check-input" 
      formControlName="isCompleted">
    <label for="timer-completed" class="form-check-label">
      Create as Completed
    </label>
  </div>

  <div class="form-check mb-3">
    <input type="checkbox" 
      id="timer-required" 
      class="form-check-input"
      formControlName="required">
    <label for="timer-required" class="form-check-label">
      Mark as important
    </label>
  </div>

  <div class="mb-3">
    <div class="form-check">
      <input type="radio" 
        id="timer-noRepeat" 
        class="form-check-input"
        formControlName="repeatType"
        value="noRepeat">
      <label for="timer-noRepeat" class="form-check-label">
        Don't repeat
      </label>
    </div>

    <div class="form-check">
      <input type="radio" 
        id="timer-cdRepeat" 
        class="form-check-input"
        formControlName="repeatType"
        value="cdRepeat">
      <label for="timer-cdRepeat" class="form-check-label">
        Reset after a specified amount of time
      </label>
    </div>

    <div class="form-check">
        <input type="radio" 
          id="timer-scheduleRepeat" 
          class="form-check-input"
          formControlName="repeatType"
          value="scheduleRepeat">
        <label for="timer-scheduleRepeat" class="form-check-label">
          Reset at a specified time
        </label>
      </div>
  </div>

  <div *ngIf="timerForm.value.repeatType === 'cdRepeat'" class="mb-3">
    <app-countdown-type-form (timerData)="setIntervalPeriod($event)"></app-countdown-type-form>
  </div>

  <div *ngIf="timerForm.value.repeatType === 'scheduleRepeat'" class="mb-3">
    <app-schedule-type-form (timerData)="setSchedulePeriod($event)"></app-schedule-type-form>
  </div>

  <button type="submit" class="btn bg-brand-primary text-brand-accent">
    Add
  </button>
</form>