<div
  *ngIf="(timer.isCompleted && !hideCompleted) || (!timer.isCompleted)"
  class="d-flex flex-row list-group-item list-group-item-action">
  <a class="flex-grow-1" 
    (click)="toggleCompleted(timer.id)">
    <h5 class="mb-1 d-inline-block">
      <div class="" *ngIf="!timer.isCompleted">
        <span *ngIf="timer.required">⭐</span>
        {{ timer.title }}
      </div>
      <div class="strikethrough text-muted font-italic" *ngIf="timer.isCompleted">
        <span *ngIf="timer.required">⭐</span>
        {{ timer.title }}
      </div>
    </h5>
  </a>
  <button type="button" 
    class="btn info-icon" 
    (click)="showInfo(timer.id)">
    <svg width="24" height="24">
      <use href="../../assets/icon/info-24px.svg#info" x="0" y="0" />
    </svg>
  </button>
</div>