<div
  *ngFor="let timer of timers">
  <a class="list-group-item list-group-item-action d-flex flex-row" 
    *ngIf="(timer.isCompleted && !hideCompleted) || (!timer.isCompleted)"
    (click)="toggleCompleted(timer.id)">
    <h5 class="mb-1 d-inline-block flex-grow-1">
      <div class="" *ngIf="!timer.isCompleted">
        <span *ngIf="timer.required">⭐</span>
        {{ timer.title }}
      </div>
      <div class="strikethrough text-muted font-italic" *ngIf="timer.isCompleted">
        <span *ngIf="timer.required">⭐</span>
        {{ timer.title }}
      </div>
    </h5>
    <button type="button" 
      class="btn" 
      (click)="deleteTimer(timer.id)">
      <svg width="24" height="24">
        <use href="../../assets/icon/delete-24px.svg#delete" x="0" y="0" class="delete-icon" />
      </svg>
    </button>
  </a>
</div>