/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';

.content {
  padding: 10px;
}

.bg-brand-primary {
  background-color: #000080;
}

.bg-brand-secondary {
  background-color: adjust-color(#000080, $lightness: 45);
}

.bg-brand-accent {
  background-color: #fffba6;
}

.text-brand-primary {
  color: #000080;
}

.text-brand-primary:hover {
  color: #000080;
}

.text-brand-accent {
  color: #fffba6;
}

.text-brand-accent:hover {
  color: #fffba6;
}

.strikethrough {
  text-decoration: line-through;
}

.delete-icon > svg {
  fill: red;
}
.delete-icon:hover > svg {
  fill: #ccc;
  stroke: red;
}

.info-icon > svg {
  fill: #aaa;
}
.info-icon:hover > svg {
  fill: #666;
}

.my-toast {
  width: 350px;
  overflow: hidden;
  font-size: .875rem;
  background-color: rgba(255,255,255,.85);
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.1);
  box-shadow: 0 .25rem .75rem rgba(0,0,0,.1);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: .25rem;
  margin-bottom: 5px;
}