/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';

.content {
  padding: 10px;
}

.bg-brand-primary {
  background-color: #000080;
}

.bg-brand-accent {
  background-color: #fffba6;
}

.text-brand-primary {
  color: #000080;
}

.text-brand-primary:hover {
  color: #000080;
}

.text-brand-accent {
  color: #fffba6;
}

.text-brand-accent:hover {
  color: #fffba6;
}