<form [formGroup]="schedule" class="form-group">
  <div class="form-check mb-3">
    <input type="checkbox" 
      id="timer-UTC"
      class="form-check-input"
      formControlName="useUTC"
      (change)="emit('useUTC')"
      aria-describedby="timer-UTC-help">
    <label for="timer-UTC" class="form-check-label">
      Use global time
    </label>
    <br/>
    <small id="timer-UTC-help" class="text-muted">
      Global time ignores changes due to Daylight Savings Time
    </small>
  </div>

  <div class="input-group mb-3">
    <label for="timer-hour" class="sr-only">
      Hours
    </label>
    <input type="number" 
      id="timer-hour" 
      formControlName="hour" 
      placeholder="hours"
      class="form-control" 
      (change)="emit('hour')">

    <label class="sr-only" for="AM-or-PM">
      AM or PM
    </label>
    <select
      id="AM-or-PM"
      formControlName="ampm" 
      class="form-control" 
      (change)="emit('ampm')">
      <option value="am">AM / 24h</option>
      <option value="pm">PM</option>
    </select>

    <input type="number" 
      id="timer-minute" 
      formControlName="minute" 
      placeholder="minutes"
      class="form-control" 
      (change)="emit('minute')">
    <label for="timer-minute" class="sr-only">
      Minutes
    </label>
  </div>

  <button type="button" 
    class="btn bg-brand-primary text-brand-accent mb-3"
    (click)="toggleDays()">
    {{ daysToggleLabel }}
  </button>

  <div formGroupName="dayOfWeek"
    (change)="emit('dayOfWeek')">
    <div class="form-check mb-3">
      <input type="checkbox" 
        id="timer-monday" 
        class="form-check-input"
        formControlName="monday">
      <label for="timer-monday" class="form-check-label">
        Monday
      </label>
    </div>

    <div class="form-check mb-3">
      <input type="checkbox" 
        id="timer-tuesday" 
        class="form-check-input"
        formControlName="tuesday">
      <label for="timer-tuesday" class="form-check-label">
        Tuesday
      </label>
    </div>
    
    <div class="form-check mb-3">
      <input type="checkbox" 
        id="timer-wednesday" 
        class="form-check-input"
        formControlName="wednesday">
      <label for="timer-wednesday" class="form-check-label">
        Wednesday
      </label>
    </div>
  
    <div class="form-check mb-3">
      <input type="checkbox" 
        id="timer-thursday" 
        class="form-check-input"
        formControlName="thursday">
      <label for="timer-thursday" class="form-check-label">
        Thursday
      </label>
    </div>
  
    <div class="form-check mb-3">
      <input type="checkbox" 
        id="timer-friday" 
        class="form-check-input"
        formControlName="friday">
      <label for="timer-friday" class="form-check-label">
        Friday
      </label>
    </div>

    <div class="form-check mb-3">
      <input type="checkbox" 
        id="timer-saturday" 
        class="form-check-input"
        formControlName="saturday">
      <label for="timer-saturday" class="form-check-label">
        Saturday
      </label>
    </div>

    <div class="form-check mb-3">
      <input type="checkbox" 
        id="timer-sunday" 
        class="form-check-input"
        formControlName="sunday">
      <label for="timer-sunday" class="form-check-label">
        Sunday
      </label>
    </div>
  </div>
</form>