<div class="content card-columns">
  <div class="card" style="width: 300px;" *ngFor="let category of timers">
    <div class="card-header">
      {{ category.category }}
    </div>
    <!-- Slim Version -->
    <div class="list-group list-group-flush" *ngIf="settings.slimTimers.value">
      <app-slim-timer 
        *ngFor="let timer of category.timers"
        [timer]="timer" 
        [hideCompleted]="settings.hideCompleted.value">
      </app-slim-timer>
    </div>
    <!-- Details Version -->
    <div class="list-group list-group-flush" *ngIf="!settings.slimTimers.value">
      <app-detail-timer 
        *ngFor="let timer of category.timers"
        [timer]="timer" 
        [hideCompleted]="settings.hideCompleted.value">
      </app-detail-timer>
    </div>
  </div>
</div>